<h1><md-icon>directions_car</md-icon> Cars app</h1>
<nav>
  <a routerLink="/cars" routerLinkActive="active">Cars</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</nav>

<router-outlet></router-outlet>
