<button (click)="onBackClick()">Back</button>
<div *ngIf="car != null">
  <p>Id: {{car.id}}</p>
  <p>Model: {{car.model}}</p>
  <p>Details: {{car.otherInformation}}</p>
  <img *ngIf="car.imageUrl" src="{{getImageUrl()}}" class="car-image">
</div>
<p *ngIf="car == null">Car not found.</p>
